# node stuffs
node_modules/

# idea stuffs
.idea/

# private key file
data/card-pool-private.json

# qrcode-img files
data/qrcode-img/

# qrcode-html file
data/qrcode.html

# emacs temp file
~#*

#vscode Editor
.vscode