//
   Created by Charlie on 2017-07-31.

extends layout
block content
    // Initialize clipboard.js
    script(src="/javascripts/clipboard.js")
    script new Clipboard('.btn');
    // Extra styles
    style.
        #serial-target {
            height: 100px;
            width: 75%;
            margin: 10%;
            font-size: 20px;
        }

        #main-area {
            margin-top: 40%;
        }

        #serial-trigger {
            height: 100px;
            width: 50%;
        }
    center#main-area
        h1 Congrats! You are now a member of CSSA
        h3 Please send following text to our official account
        p.text-muted If you are using Wechat on Android, please copy the text manually.
        textarea#serial-target bind #{serial}
        br
        br
        button.btn.btn-outline-primary.btn-lg#serial-trigger(data-clipboard-target="#serial-target") Copy to clipboard




