/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
} */
.hide{
  visibility: hidden;
}
@media screen and (min-width: 20rem){
  body{
    margin: 1% 1rem;
  }
}
@media screen and (min-width: 50rem){
  body{
    margin:1% 10%;
  }
}